legacy-files/
slides/
skeleton-tufte/
skeleton.bib
.RData
.Rhistory
.Rproj.user/
preamble.sty.aux
r-course-1920.Rproj

script/script_cache/
script/script_files
script/preamble.sty.aux
script/script.log
script/skeleton*

